
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form action="Sumar" method="get">
    <input type="number" class="form-control" id="a" name="a" placeholder="Introduzca el primer número." style="margin-bottom: 10px;">
    
    <input type="number" class="form-control" id="b" name="b" placeholder="Introduzca el segundo número.">
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>